USE [WideWorldImporters]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TABLE [Sales].[OrderLines] DROP CONSTRAINT [FK_Sales_OrderLines_OrderID_Sales_Orders]
GO

ALTER TABLE [Sales].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK_Sales_OrderLines_OrderID_Sales_Orders] FOREIGN KEY([OrderID])
REFERENCES [Sales].[Orders] ([OrderID]) ON DELETE CASCADE
GO

ALTER TABLE [Sales].[OrderLines] CHECK CONSTRAINT [FK_Sales_OrderLines_OrderID_Sales_Orders]
GO

CREATE OR ALTER TRIGGER [Sales].[TD_Orders_AFTER]ON 
	[Sales].[Orders]AFTER DELETEAS
	BEGIN
		RAISERROR('The TD_Orders_AFTER trigger was fired',1,1);
	END;
GO

DELETE FROM Sales.Orders WHERE OrderID = 0;
GO

DROP TRIGGER Sales.TD_Orders_AFTER;
GO

CREATE OR ALTER TRIGGER [Sales].[TD_OrdersLines_AFTER]ON 
	[Sales].[OrderLines]AFTER DELETEAS
	BEGIN
		IF (ROWCOUNT_BIG() = 0)
			RETURN;

		SET NOCOUNT ON;

		IF NOT EXISTS (SELECT 1 FROM DELETED)
			RETURN;
		
		IF EXISTS 
		(
			SELECT 1 FROM DELETED d WHERE d.PickingCompletedWhen is not null
		)
		BEGIN
			RAISERROR('The OrderLine has been fulfilled and cannot be deleted',16,1);
			ROLLBACK TRAN;
			RETURN;
		END;
	END;
GO

DELETE FROM Sales.OrderLines WHERE OrderID=1;

DROP TRIGGER Sales.TD_OrdersLines_AFTER;
DROP TABLE Application.AuditLog;

CREATE TABLE Application.AuditLog (
	AuditLogID int identity,
	ModifiedTime DATETIME,
	ModifiedBy nvarchar(100),
	Operation nvarchar(16),
	SchemaName nvarchar(64),
	TableName nvarchar(64),
	TableID int,
	LogData nvarchar(max)
);
GO


CREATE OR ALTER TRIGGER [Sales].[TD_Orders_AFTER]ON 
	[Sales].[Orders]AFTER DELETEAS
	BEGIN
		IF (ROWCOUNT_BIG() = 0)
			RETURN;

		SET NOCOUNT ON;

		IF NOT EXISTS (SELECT 1 FROM DELETED)
			RETURN;
		
		DECLARE @operationType nvarchar(16) = 'DELETE';

		INSERT INTO Application.AuditLog 
				([ModifiedTime], [ModifiedBy], [Operation], [SchemaName], [TableName], [TableID], [LogData])
			SELECT GETDATE(), SYSTEM_USER, @operationType, 'Sales','Orders',D1.OrderId, D2.LogData
				FROM DELETED D1
				CROSS APPLY (
					SELECT LogData=(select * from DELETED WHERE 
									DELETED.OrderID = D1.OrderID FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)
				) AS D2
	END;
GO

SELECT * FROM Application.AuditLog;

UPDATE Sales.Invoices SET OrderID=NULL where OrderID < 10;

DELETE FROM Sales.Orders where orderId < 10;

SELECT * FROM Application.AuditLog;

SELECT * FROM Application.AuditLog where Operation='DELETE' AND TableName='Orders' AND JSON_VALUE(LogData, '$.OrderID')='4';

