USE [WideWorldImporters]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE OR ALTER TRIGGER [Sales].[TI_Orders]ON 
	[Sales].[Orders]AFTER INSERTAS
	BEGIN
		RAISERROR('The TI_Orders trigger was fired',1,1);
	END;
GO

CREATE OR ALTER TRIGGER [Sales].[TI_Orders_InsteadOf]ON 
	[Sales].[Orders]INSTEAD OF INSERTAS
	BEGIN
		RAISERROR('The TI_Orders_InsteadOf trigger was fired',1,1);
	END;
GO

INSERT INTO Sales.Orders 
	SELECT * FROM sales.orders WHERE OrderID = 0;
GO

DROP TRIGGER Sales.TI_Orders;

INSERT INTO Sales.Orders (CustomerID, SalespersonPersonID, ContactPersonID, OrderDate, ExpectedDeliveryDate, IsUndersupplyBackordered, LastEditedBy)
	VALUES (0, 7, 1001, GETDATE(), DATEADD(DAY, 10, GETDATE()), 0, 10);
GO

CREATE OR ALTER TRIGGER [Sales].[TI_Orders_InsteadOf]ON 
	[Sales].[Orders]INSTEAD OF INSERTAS
	BEGIN
		IF (ROWCOUNT_BIG() = 0)
			RETURN;

		SET NOCOUNT ON;

		IF NOT EXISTS (SELECT 1 FROM INSERTED)
			RETURN;
		
		IF EXISTS 
		(
			SELECT 1 FROM INSERTED i 
				INNER JOIN Customers c on i.CustomerID = c.CustomerID
			WHERE c.IsOnCreditHold = 1
		)
		BEGIN
			RAISERROR('Customer is currently on a credit freeze',16,1);
			ROLLBACK TRAN;
			RETURN;
		END;

		INSERT INTO Sales.Orders (CustomerID, SalespersonPersonID, ContactPersonID, OrderDate, ExpectedDeliveryDate, IsUndersupplyBackordered, LastEditedBy)
			SELECT i.CustomerID, i.SalespersonPersonID, i.ContactPersonID, i.OrderDate, i.ExpectedDeliveryDate, i.IsUndersupplyBackordered, i.LastEditedBy
			 FROM INSERTED i;
	END;
GO

UPDATE sales.Customers SET IsOnCreditHold = 1 WHERE CustomerID=10;

INSERT INTO Sales.Orders (CustomerID, SalespersonPersonID, ContactPersonID, OrderDate, ExpectedDeliveryDate, IsUndersupplyBackordered, LastEditedBy)
	VALUES (10, 8, 1001, GETDATE(), DATEADD(DAY, 10, GETDATE()), 0, 10);
GO

UPDATE sales.Customers SET IsOnCreditHold = 0 WHERE CustomerID=10;

INSERT INTO Sales.Orders (CustomerID, SalespersonPersonID, ContactPersonID, OrderDate, ExpectedDeliveryDate, IsUndersupplyBackordered, LastEditedBy)
	VALUES (10, 8, 1001, GETDATE(), DATEADD(DAY, 10, GETDATE()), 0, 10);
GO


CREATE OR ALTER TRIGGER [Sales].[TI_Orders_InsteadOf]ON 
	[Sales].[Orders]INSTEAD OF INSERTAS
	BEGIN
		IF (ROWCOUNT_BIG() = 0)
			RETURN;

		SET NOCOUNT ON;

		IF NOT EXISTS (SELECT 1 FROM INSERTED)
			RETURN;
	
		IF EXISTS 
		(
			SELECT 1 FROM INSERTED i 
				INNER JOIN Sales.Customers c on i.CustomerID = c.CustomerID
			WHERE c.IsOnCreditHold = 1
		)
		BEGIN
			RAISERROR('Customer is currently on a credit freeze',16,1);
			ROLLBACK TRAN;
			RETURN;
		END;

		IF EXISTS 
		(
			SELECT 1 FROM INSERTED i WHERE i.ExpectedDeliveryDate is NULL
		)
		BEGIN
			SELECT * INTO #tempInserted FROM INSERTED;

			UPDATE #tempInserted SET ExpectedDeliveryDate = DATEADD(day,10,OrderDate) 
				WHERE ExpectedDeliveryDate IS NULL;
		END;

		INSERT INTO Sales.Orders (CustomerID, SalespersonPersonID, ContactPersonID, OrderDate, ExpectedDeliveryDate, IsUndersupplyBackordered, LastEditedBy)
			SELECT i.CustomerID, i.SalespersonPersonID, i.ContactPersonID, i.OrderDate, i.ExpectedDeliveryDate, i.IsUndersupplyBackordered, i.LastEditedBy
			 FROM #tempInserted i;

	END;
GO


CREATE OR ALTER VIEW Sales.CustomerAddressDeliveryView AS
	SELECT CustomerID, DeliveryAddressLine1 AS AddressLine1, DeliveryAddressLine2 AS AddressLine2, 
		DeliveryPostalCode AS PostalCode, CityName AS City, StateProvinceCode AS State
	FROM Sales.Customers CU
		INNER JOIN Application.Cities C on CU.DeliveryCityID = C.CityID
		INNER JOIN Application.StateProvinces SP on C.StateProvinceID = SP.StateProvinceID;
GO

SELECT * FROM Sales.CustomerAddressDeliveryView;
GO


CREATE OR ALTER TRIGGER [Sales].[TI_CustomerAddressDeliveryView]
ON Sales.CustomerAddressDeliveryView INSTEAD OF UPDATE
AS
BEGIN
	IF (ROWCOUNT_BIG() = 0)
	RETURN;

	SET NOCOUNT ON;

	IF NOT EXISTS (SELECT 1 FROM INSERTED)
		RETURN;

	CREATE TABLE #tempAddress (
		CustomerID int,
		AddressLine1 nvarchar(60) COLLATE database_default,
		AddressLine2 nvarchar(60) COLLATE database_default,
		PostalCode nvarchar(10) COLLATE database_default,
		City nvarchar(50) COLLATE database_default,
		State nvarchar(50) COLLATE database_default,
		DeliveryCityID int null,
	);

	INSERT INTO #tempAddress
		SELECT CustomerID, AddressLine1, AddressLine2, PostalCode, City, State, null from INSERTED;

	UPDATE #tempAddress SET DeliveryCityID = C.CityID FROM #tempAddress 
		INNER JOIN Application.Cities C	ON #tempAddress.City = C.CityName
		INNER JOIN Application.StateProvinces SP on C.StateProvinceID = SP.StateProvinceID
			WHERE SP.StateProvinceCode = #tempAddress.State

	UPDATE Sales.Customers SET 
		DeliveryAddressLine1 = i.AddressLine1,
		DeliveryAddressLine2 = i.AddressLine2,
		DeliveryPostalCode = i.PostalCode,
		DeliveryCityID = i.DeliveryCityID
	FROM #tempAddress i INNER JOIN Sales.Customers 
		ON i.CustomerID = Sales.Customers.CustomerID
	WHERE i.DeliveryCityID IS NOT NULL;

END;

select CustomerID, DeliveryAddressLine1, DeliveryAddressLine2, DeliveryPostalCode, DeliveryCityID
	from Sales.Customers WHERE CustomerID=10;

UPDATE Sales.CustomerAddressDeliveryView SET
	AddressLine1 = '100 Jones Road',
	AddressLine2 = 'Suite 200',
	PostalCode = '90210',
	City = 'Bell',
	State = 'CA'
WHERE CustomerId = 10;

select CustomerID, DeliveryAddressLine1, DeliveryAddressLine2, DeliveryPostalCode, DeliveryCityID
	from Sales.Customers WHERE CustomerID=10;


