USE [WideWorldImporters]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP TRIGGER Sales.TU_Orders_AFTER;
GO

CREATE OR ALTER TRIGGER [Sales].[TU_Orders_CreatedFirst]ON 
	[Sales].[Orders]AFTER UPDATEAS
	BEGIN
		IF (ROWCOUNT_BIG() = 0)
			RETURN;

		SET NOCOUNT ON;

		IF NOT EXISTS (SELECT 1 FROM DELETED)
			RETURN;

		RAISERROR('The [TU_Orders_CreatedFirst] trigger was fired',1,1);
	END;
GO

CREATE OR ALTER TRIGGER [Sales].[TU_Orders_CreatedSecond]ON 
	[Sales].[Orders]AFTER UPDATEAS
	BEGIN
		IF (ROWCOUNT_BIG() = 0)
			RETURN;

		SET NOCOUNT ON;

		IF NOT EXISTS (SELECT 1 FROM DELETED)
			RETURN;

		RAISERROR('The [TU_Orders_CreatedSecond] trigger was fired',1,1);
	END;
GO

UPDATE Sales.Orders SET SalespersonPersonID=SalespersonPersonID WHERE OrderID = 20;
GO

DROP TRIGGER Sales.TU_Orders_CreatedFirst;
GO

CREATE OR ALTER TRIGGER [Sales].[TU_Orders_CreatedFirst]ON 
	[Sales].[Orders]AFTER UPDATEAS
	BEGIN
		IF (ROWCOUNT_BIG() = 0)
			RETURN;

		SET NOCOUNT ON;

		IF NOT EXISTS (SELECT 1 FROM DELETED)
			RETURN;

		RAISERROR('The [TU_Orders_CreatedFirst] trigger was fired',1,1);
	END;
GO

UPDATE Sales.Orders SET SalespersonPersonID=SalespersonPersonID WHERE OrderID = 20;
GO

sp_settriggerorder @triggername = 'Sales.TU_Orders_CreatedFirst', @order = 'first', @stmttype = 'UPDATE';
GO

sp_settriggerorder @triggername = 'Sales.TU_Orders_CreatedSecond', @order = 'last', @stmttype = 'UPDATE';
GO

UPDATE Sales.Orders SET SalespersonPersonID=SalespersonPersonID WHERE OrderID = 20;
GO

DROP TRIGGER Sales.TU_Orders_CreatedFirst;
DROP TRIGGER Sales.TU_Orders_CreatedSecond;

SELECT * FROM Application.People WHERE IsSalesperson=1;
GO

CREATE OR ALTER TRIGGER [Application].[TU_People_ChangeSalesPerson]ON 
	[Application].[People]AFTER UPDATEAS
	BEGIN
		IF (ROWCOUNT_BIG() = 0)
			RETURN;

		SET NOCOUNT ON;

		IF NOT EXISTS (SELECT 1 FROM DELETED)
			RETURN;

		SELECT * INTO #ModifiedData FROM (			
			SELECT PersonID, IsSalesperson FROM DELETED WHERE IsSalesperson=1
			EXCEPT
			SELECT PersonID, IsSalesperson FROM INSERTED WHERE IsSalesperson=0
		) ModifiedData;

		IF EXISTS (SELECT 1 FROM #ModifiedData)
		BEGIN
			UPDATE Sales.Orders SET SalespersonPersonID = 20
				FROM Sales.Orders O INNER JOIN #ModifiedData MD ON O.SalespersonPersonID=MD.PersonID;
		END;
		
	END;
GO

CREATE OR ALTER TRIGGER [Application].[TU_People_LogSalesChange]ON 
	[Application].[People]AFTER UPDATEAS
	BEGIN
		IF (ROWCOUNT_BIG() = 0)
			RETURN;

		SET NOCOUNT ON;

		IF NOT EXISTS (SELECT 1 FROM DELETED)
			RETURN;
		
		DECLARE @operationType nvarchar(16) = 'UPDATE SP_ID';

		SELECT * INTO #ModifiedData FROM (			
				SELECT PersonID, IsSalesperson FROM DELETED WHERE IsSalesperson=1
				EXCEPT
				SELECT PersonID, IsSalesperson FROM INSERTED WHERE IsSalesperson=0
		) ModifiedData;

		INSERT INTO Application.AuditLog ([ModifiedTime], [ModifiedBy], [Operation], [SchemaName], [TableName], [TableID], [LogData])
			SELECT GETDATE(), SYSTEM_USER, @operationType, 'Application','Person', M1.PersonId, M2.LogData
				FROM #ModifiedData M1
				CROSS APPLY (
					SELECT LogData=(select M1.PersonID as SalesPersionId, COUNT(*) AS OrdersBeforeReassign from Sales.Orders O WHERE O.SalespersonPersonID = M1.PersonID FOR JSON PATH)
				) AS M2
	END;
GO

SELECT * FROM Application.AuditLog;

UPDATE Application.People SET IsSalesperson=0 WHERE PersonID=3;
GO

SELECT * FROM Application.AuditLog;
GO

sp_settriggerorder @triggername = '[Application].[TU_People_LogSalesChange]', @order = 'first', @stmttype = 'UPDATE';
GO

sp_settriggerorder @triggername = '[Application].[TU_People_ChangeSalesPerson]', @order = 'last', @stmttype = 'UPDATE';
GO

UPDATE Application.People SET IsSalesperson=0 WHERE PersonID=6;
GO

SELECT * FROM Application.AuditLog;

