USE [WideWorldImporters]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER TRIGGER [Sales].[TU_Orders_AFTER]ON 
	[Sales].[Orders]AFTER UPDATEAS
	BEGIN
		DECLARE @insertedRows INT,
				@deletedRows INT,
				@countString VARCHAR(200);

		SET @insertedRows = (SELECT COUNT(*) FROM INSERTED);
		SET @deletedRows = (SELECT COUNT(*) FROM DELETED);
		SET @countString = 'INSERTED Rows: ' + CAST(@insertedRows AS VARCHAR(10)) + ', DELETED Rows: ' + CAST(@deletedRows AS VARCHAR(10));

		RAISERROR(@countString,1,1);
	END;
GO

UPDATE Sales.Orders SET Comments='Nothing to see here' WHERE OrderID = 0;
GO

UPDATE Sales.Orders SET Comments='Nothing to see here' WHERE OrderID = 10;
GO


DROP TRIGGER [Sales].[TU_Orders_AFTER];
GO

CREATE OR ALTER TRIGGER [Sales].[TU_Orders_Logging]ON 
	[Sales].[Orders]AFTER UPDATEAS
	BEGIN
		IF (ROWCOUNT_BIG() = 0)
			RETURN;

		SET NOCOUNT ON;

		IF NOT EXISTS (SELECT 1 FROM DELETED)
			RETURN;
		
		DECLARE @operationType nvarchar(16) = 'UPDATE';

		SELECT * INTO #ModifiedData FROM (			
				SELECT * FROM DELETED
				EXCEPT
				SELECT * FROM INSERTED
		) ModifiedData;

		INSERT INTO Application.AuditLog ([ModifiedTime], [ModifiedBy], [Operation], [SchemaName], [TableName], [TableID], [OldValues])
			SELECT GETDATE() , SYSTEM_USER, @operationType, 'Sales','Orders',M1.OrderId, M2.oldValues
				FROM #ModifiedData M1
				CROSS APPLY (
					SELECT oldValues=(select * from #ModifiedData WHERE #ModifiedData.OrderID = M1.OrderID FOR JSON PATH)
				) AS M2
	END;
GO

UPDATE Sales.Orders SET ContactPersonID = 45 where orderId <15;

select * from Application.AuditLog;

UPDATE Sales.Orders SET ContactPersonID = 45 where orderId <15;

select * from Application.AuditLog;

